<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Subject Table</h1>
        <table border="3px">
            <tr>
                <th>Sub_Name</th>
                <th>Stu_Name</th>
                <th>Teacher</th>
            </tr>
            <tr>
                <td>Python</td>
                <td>Blessie</td>
                <td>Harshad</td>                
            </tr>
            <tr>
                <td>java</td>
                <td>harini</td>
                <td>vijay</td>                
            </tr>
            <tr>
                <td>sql</td>
                <td>teja</td>
                <td>ramesh</td>                
            </tr>
            <tr>
                <td>physics</td>
                <td>murali</td>
                <td>venkat</td>                
            </tr>
            <tr>
                <td>chemistry</td>
                <td>reddy</td>
                <td>mamatha</td>                
            </tr>
            <tr>
                <td>biology</td>
                <td>chinna</td>
                <td>rasool</td>                
            </tr>
        </table>
    </center>
</body>
</html>